.footer {
    background-color: #0E0E0E;
}
.footer-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    padding-top: 4rem;
}
.footer-links-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.4rem;
}
.footer-logo {
    margin-right: 1.5rem;
}
.footer-logo__img {
    width: 143px;
    height: 25px;
}
.footer-links__item {
    color: $white-color;
    font-family: 'Manrope';
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.92; 
    letter-spacing: 2px;
    text-transform: uppercase;
}
.footer-links__item:hover {
    color: $brown-color;
    transition: 0.3s;
}
.footer-info {
    display: flex;
    flex-direction: column  ;
}
.footer-finish{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__desc {
    color: $white-color;
    font-family: 'Manrope';
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.66;
    opacity: 0.5;
    max-width: 530px;
    width: 100%;
    opacity: 0.5;
    margin-top: 3.6rem;
    margin-right: 1rem;
}
.footer__end {
    color: $white-color;
    font-family: 'Manrope';
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.66;
    opacity: 0.5;
    margin-top: 5.6rem;
}

.footer-socials {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}
.footer-socials-item {
    border: 2px solid transparent;
    padding-bottom: 5px;
}
.footer-socials-item:hover {
    border-bottom: 2px solid $brown-color;
    transition: 0.3s;
}



// RESPONSIVE


@media screen and (max-width:680px){
    .footer-links-wrapper{
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    .footer-links{
        margin-top: 3.2rem;
    }
    .footer__desc{
        max-width: none;
        width: 100%;
    }
    .footer__end{
        margin-top: 0;
    }
    .footer-finish{
        margin-top: 5.6rem;
    }
}

@media screen and (max-width:520px){
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-logo{
        margin-right: 0;
    }
    .footer-links{
        flex-direction: column;
        gap: 1.6rem;
        align-items: center;
    }
    .footer-finish{
        flex-direction: column;
    }
    .footer-socials{
        margin-top: 4.8rem;
    }
    .footer-links-wrapper{
        align-items: center;
    }
}